
body {
  margin: 10px auto;
  font-family: arial;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li {
  list-style: none;
}

.octodex {
  width: 1200px;
  height: auto;
}

.octocat {
  width: 335px;
  float: left;
  margin: 10px;
  border-bottom: 2px solid gray;
  position: relative;
}

.octocat img {
  width: 335px;
  height: auto;
  border: 1px solid gray;
}

.octocat::after{
  content: '';
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #8f8f8f transparent transparent transparent;
  position: absolute;
  clear: both;
  left: 95%;
  top: 90%;
}

.image-number {
  color: gray;
  font-weight: bold;
}

.image-number::before{
    content: "#";
}

.authors img {
  width: 18px;
  height: auto;
}

.authors {
  float: right;
}

.authors li {
  vertical-align: middle;
}

.image-caption {
  float: right;
  width: 240px;
  text-align: right;
}

ul {
  padding-left: 2px;
}

.image-footer {
      margin: 7px 2px;
}
